[2019-05-15 12:29] TVke opened #2 "[Feature Request] Make values easily accessible"
Reminder to myself and up for discusion.

Just like colors, accessing the values directly.

This is useful when using components that use specific styling methods.
It could be useful like this:

[code]

resulting in:

[code]

[2019-05-16 09:42] TVke commented on #2
A problem I ran into earlier is that the 'default' shadow can not be just `shadow` it has to be `shadow.default` or something like `shadow.shadow`.

[2019-05-16 12:40] #2 closed

[2019-05-16 12:43] TVke commented on #2
I made a general `theme` accessor so this is possible:

[code]

[2019-06-02 20:47] davidgovea opened #3 "Behavior of `t.flex1`"
Hi @TVke -

I wanted to bring up a discussion of the `flex1` rule's behavior.

Example: https://snack.expo.io/@lokodev/tailwind-flex1-demo
(see the commented-out rule)

![flex](https://user-images.githubusercontent.com/489896/58767171-69bc7080-853c-11e9-82a8-6692d4b7221b.jpg)

In other places where RN diverges from web functionality, it looks like adjustments have been made to maintain the "intent

[2019-06-03 08:49] TVke commented on #3
Hey @davidgovea
Good point, because of the default config file of Tailwindcss 1.0 contains a specific string it occurred to me that `flexGrow` is the correct way to go as it is universal in css and Yoga. The `flexBasis` property does accept a string and I went with that option.
I completely understand that the `t.flex1` is behaving different then expected so I wil change that as soon as possible.

[2019-06-03 19:52] davidgovea commented on #3
@TVke ah! I knew I must have been missing something:

I didn't see the `t.grow` and `t.grow0` rules -- was expecting `flexGrow`, like in the pre-1.0 version.

Did you have a reason for renaming tailwind's `.flex-grow` and `.flex-shrink` to `t.grow` / `t.shrink`?

---

Separate from that, PR #4 looks good -- I think it definitely makes sense to smooth out the differences between web/yoga in this wa

[2019-06-04 07:42] TVke commented on #3
The `flexGrow` to `grow` and `flexShrink` to `shrink` was accidental 😊 I will add it to PR #4

[2019-06-04 07:45] #3 closed

[2019-07-05 17:07] leobauza opened #6 "Error loading custom tailwind.confg.js"
Very cool project, testing this out on a small project I am getting this error:

[code]

I manually changed `require.resolve` to just `require` in `ConfigHandler.js` (since I am sure I am using a `tailwind.config`) But I am not sure the best way to perform the check that is happening in `ConfigHandler.js`

I can look into this some and put up a PR in the next few days if you are busy 👍

[2019-07-08 15:46] TVke commented on #6
Hi @leobauza

I just tested in a new react native project and I can't recreate the error you got
Maybe you can share a repo of give me the version of react-native you're using so I can find the problem you have/had

Thank you for using/testing the package
I'm curious where the problem occurred

greetings
Thomas

[2019-07-30 09:42] #6 closed

[2019-07-30 09:48] TVke commented on #6
Hi @leobauza

I tested it further and discovered that indeed it does not work with the resolve so thank you for the issue it is fixed in `1.0.8`

greetings
Thomas

[2019-08-09 00:21] davidgovea opened #7 "Build failure with 1.1.0"
[code]

Looks like tailwind 1.1.0 started depending on reduce-css-calc, which assumes node & depends on fs

**Edit**: Confirmed that this happens on a freshly-generated "blank" project from expo-cli (both typescript and javascript). Let me know if there's anything else I can do to assist with reproducing.

---

So.. what should be done here? I've run into some unrelated problems with `require()`in

[2019-08-12 13:02] TVke commented on #7
Hi @davidgovea

I see the problem the error I am trying to fix as soon as possible but the resolving of the tailwind config file is something different.

I get the resolve problem and I was thinking to make my own command to generate a more optimised version of the config file and a specified path can be part of the command.

For the moment I see this as a different issue and a little less pressin

[2019-08-12 18:26] davidgovea commented on #7
Hi @TVke -- I agree about the resolve issue (separate issue).

For the workaround, I've also needed to lock down the version of tailwind used:

[code]

[2019-08-21 00:38] davidgovea commented on #7
Looks like the error is upstream of `reduce-css-calc`, in the [`jison`](https://github.com/zaach/jison) parser-generator library.

jison generates a `parser.js` file, that has a "command-line-mode" fallback at the bottom of the file:

parser.js

[code]

It looks like jison is pretty dead :(
[This PR](https://github.com/zaach/jison/pull/326/files) looks like it would get us closer to a solution, bu

[2019-08-21 02:12] davidgovea commented on #7
Found a maintained jison build, and made a PR here: https://github.com/MoOx/reduce-css-calc/pull/57

Will be doing more testing, but that removes the (unused) `require('fs')` call from parser.js. Should fix things up once we can get tailwind to update.

[2019-08-21 08:56] TVke commented on #7
@davidgovea

Thank you very much you are a hero.
I didn't have time the last few weeks so thank you for being on top of it.
I will tag a release to revert tailwind back to a working version and when it is fixed I will upgrade ones again.

[2019-08-28 08:31] TVke commented on #7
verre sorry guys I just saw your messages I ment to lock it at exactly `1.0.6` and so I did in `react-native-tailwindcss 1.1.2`

hope it didn't give to much troubles

[2019-10-22 09:18] TVke commented on #7
reduce-css-calc was patched! 😃

[2019-10-22 18:50] davidgovea commented on #7
Nice! And since tailwind specifies ` "reduce-css-calc": "^2.1.6"`, it shouldn't need to be patched.

So now a fresh install of `react-native-tailwindcss@1.1.1` should work? I'll give it a try when I have a chance.

[2019-11-26 13:03] #7 closed

[2020-01-08 04:02] davidgovea opened #9 "Direct dependency of `react-native` causing build conflicts"
Hi @TVke --

I've been having some difficulty with version `1.1.7`, on various RN projects.
commit 98ecbb740f06df6dfb1513448765c423d182ef7c introduced a direct dependency on react-native >= 0.61.5.

With older RN (I tested 0.59.10), I get a metro bundler conflict, complaining about 2 versions of RN and displaying the `node_modules/react-native-tailwindcss/node_modules/react-native` nested dependen

[2020-01-08 04:12] davidgovea commented on #9
Added PR. `react` is only used in the tests (so devDep only), while `react-native` is used in sourcecode (so devDep+peerDep).

[2020-01-08 09:08] TVke commented on #9
Hi @davidgovea
Thank you for the help I forgot to check older versions indeed.

[2020-01-08 09:08] #9 closed

[2020-01-08 23:44] nicwhitts opened #11 "Using real tailwind names in style"
I thought i would get feedback on the option of having real tailwind names in a style prop on objects.

e.g.

[code]

Similar to: https://github.com/kristerkari/react-native-css-modules/blob/master/docs/setup-stylename.md

Any thoughts on why this may or may not be possible?

[2020-01-09 09:48] TVke commented on #11
Hi @nicwhitts

I never read or heard something from this package/setup (trying it as we speak)
I like what I see and you can just use the original `tailwindcss` package in here so go ahead as it has not the limitations `react-native-tailwindcss` has. (eg.: plugins are not supported in `react-native-tailwindcss`)

The only thing I am now testing is how it handles the difference between css and Yoga

[2020-01-09 09:48] #11 closed

[2020-01-09 13:21] nicwhitts commented on #11
That explains it!

Something i think you might be interested in, i just did a quick spike test and this seems to work:
(Will continue to test all the styles.)

There is a package made for react native tachyons here:
https://github.com/shipt/react-native-tachyons

I built a stylesheet object using your generator but without translating the keys, and then returned it in the `build` method of the tac

[2020-01-09 13:40] TVke commented on #11
Hey @nicwhitts

The first idea I had was to do stuff like:

[code]

The big problem I found was the typing work was huge. One of the goals of the original `tailwindcss` is speed. In the syntax above I tried a few pages but got tired of the brackets and the dashes.

I then thought that the object syntax was way cleaner, faster and more readable. The only compromise  I needed to make is the dashes (

[2020-01-11 02:28] AwolDes opened #12 "Files do not exist"
Hey there

Just installed `v1.1.8` in a new react native project and have gotten the following error when running `react0native start`

[code]

This is what the package looks like in `node_modules`
![image](https://user-images.githubusercontent.com/9693812/72197480-75c2c600-346d-11ea-90c9-7ee33fb60f93.png)

So it looks like the reference to the `stubs` directory would throw a missing file error be

[2020-01-11 14:26] nicwhitts commented on #11
That's cool :)
Good job by the way

[2020-01-13 12:17] #12 closed

[2020-01-13 12:29] TVke commented on #12
Hi @AwolDes

Sorry for that mistake on my part
After updating to `1.1.9` there should be no more problem
Thank you for noticing this bug

greetings
@TVke

[2020-01-19 23:44] AwolDes commented on #12
Thanks for looking into this!

[2020-02-04 07:25] VerzatileTom opened #14 "Fonts don't update"
I added a font following this guide: https://medium.com/@mehran.khan/ultimate-guide-to-use-custom-fonts-in-react-native-77fcdf859cf4

I tried to update my serif font in the tailwind config like this:
[code]
but it doesn't seem to work when I used it.

[2020-02-04 12:10] TVke commented on #14
Hey @VerzatileTom

some questions for more details:
 - Have you tried changing the name? (maybe something is cached)
 - Is the font file correctly added in your project (iOS and Android)?
 - Have you tested both platforms? (as the naming is very different on each system)

Let me know if you checked these things

In the docs there is a custom fonts section: (it's a small summary of the medium artic

[2020-02-04 13:15] VerzatileTom commented on #14
I managed to add the font by deleting the `tailwind.config.js` I copied from https://tvke.github.io/react-native-tailwindcss/installation.html because the `npx RNtailwindcss` command returns an error.

Then, I initialize the tailwind config again by running `tailwind init --full` then added my font like this
[code]

[2020-02-04 14:38] TVke commented on #14
Hi @VerzatileTom

Can I ask which kind of error did the command return?
And now everything works as intended?

greetings
@TVke

[2020-02-05 00:21] VerzatileTom commented on #14
[code]

Yes, now works fine as expected.

[2020-02-05 07:28] TVke commented on #14
Hey @VerzatileTom

What version of `react-native-tailwindcss` do you use?
as this error was fixed in [v1.1.9](https://github.com/TVke/react-native-tailwindcss/releases/tag/v1.1.9)

Hope this helps even more

Greetings
Thomas

[2020-02-05 13:18] VerzatileTom commented on #14
Hello @TVke,

I'm using v1.1.9.

[2020-02-05 13:29] TVke commented on #14
Hey @VerzatileTom

Good to know I will research it more

[2020-02-05 13:29] #14 closed

[2020-02-14 10:31] Zapominacz opened #15 "[Documentation] Invalid link and package name"
Hi! I have found two issues related to first page of docs:

**First**:
There is a difference between:
https://github.com/TVke/react-native-tailwindcss/blob/master/README.md
(install react-native-tailwindcss)
and
https://github.com/TVke/react-native-tailwindcss/blob/master/docs/installation.md
(install tailwindcss)

I assume the first one is correct. Can add PR for that if my assumptions are true

[2020-02-22 08:09] BeckyWu220 opened #16 "Typescript warning when using customized color."
Hi! Great work in this library, I found it very useful. I'm very impressed that this library included the color customization feature from TailwindCSS. I'm currently trying to use the use customized color in a Typescript app, below is how I defined the customized color, `customizedPurple`.
[code]
And I was trying to apply the customized color using `t.bgCustomizedPurple` to the background color of

[2020-02-22 20:16] schettino commented on #16
Hey @BeckyWu220, you can extend it adding a file like `loaders.d.ts` (make sure to include it in the `include` property in tsconfig.json.

[code]

![image](https://user-images.githubusercontent.com/7825467/75098601-2512b280-556d-11ea-8a2b-3125844615dd.png)

:)

[2020-02-23 00:46] BeckyWu220 commented on #16
@schettino  Hi! Thank you for replying me so quickly and sharing the detailed code snippet. Appreciate your help! Close the issue now.

[2020-02-23 00:46] #16 closed

[2020-02-26 10:45] TVke commented on #15
Hi @Zapominacz

A PR would be great 😃
Thank you for the careful reading

greetings
@TVke

[2020-02-27 08:56] Zapominacz commented on #15
Added PR #17

[2020-02-29 11:23] #15 closed

[2020-03-04 05:59] davidgovea opened #18 "Types for custom configs // Tailwind philosophy"
Hi @TVke -- this is an issue without a clear solution, but I wanted to open the issue for discussion.

Here's my problem:
I _really_ like that tailwind limits my choices of margin, color, etc. In my opinion, having to choose between a limited number of spacings leads to more maintainable & consistent styling code. If left to pixel-level margin possibilities, I'll probably style a component slightl

[2020-03-05 11:59] jankeesvw opened #19 "Failed running npx RNtailwindcss (no such file)"
I am trying out react-native-tailwindcss and I ran into an issue setting it up:

[code]

[2020-03-05 13:54] karlerikjonatan commented on #19
I ran into the same problem earlier today. What I discovered is that the documentation in `master` is outdated. What you want to run is:

[code]

And [here's the branch with the correct documentation](https://github.com/TVke/react-native-tailwindcss/tree/fix/default-config-not-found#usage).

[2020-03-09 10:54] TVke commented on #19
Hi @jankeesvw

Could you please provide me the version of `react-native-tailwindcss` as this works only in the latest version

Greetings
Thomas

[2020-03-09 14:17] jankeesvw commented on #19
I am using:

[code]

I managed to fix this by creating the file manually.

[2020-03-09 14:17] #19 closed

[2020-03-13 10:43] larsjanssen6 opened #21 "Not loading custom tailwind config?"
Hi,

Thanks for this project :) realy cool. It looks like my custom `tailwind.config.js`
is not being used. Currently I have this:

[code]

But I can't do this in my project, not working:

[code]

Any idea what I'm doing wrong? I use version `^1.1.9"`.

Thanks!

[2020-03-19 05:31] alexluong opened #22 "Cursor plugin?"
Hi, I just found out about this library and really enjoy it so far. Quick question as to the title:

Here is what I currently have to do:

[code]

Would be cool if this library helps with checking the platform for the end-users!

I'd be happy to dig into the code and contribute myself if you think this can be a good idea. Thank you!

PS: 200th star ⭐

[2020-03-19 11:23] TVke commented on #22
Hi @alexluong

thanks for the 200th star and the reason for no cursor implementation is that it is not useful on a native device. I did not know that `react-native-web` does accept this style.
I would defenatly accept a PR for that.

greetings
Thomas

[2020-03-19 14:29] apostopher opened #23 "lineHeight doesn't work."
in `react-native` the line-height needs to be an absolute value right?

![image](https://user-images.githubusercontent.com/270924/77078069-0c44d200-6a31-11ea-8b02-dd54a46feb80.png)

Here the line-height needs to be `1.25 * fontSize`

[2020-03-22 07:10] alexluong opened #25 "Responsiveness"
Hi, it seems like this library doesn't deal with responsiveness. I wrote a small helper function to help with it. Would love to hear what you think! Would this be something you'd be interested in including in this library?

[code]

[code]

[2020-03-31 08:00] enagorny opened #26 "Add special case for hairlineWidth spacing"
Add ability to create hairline width spacing. It's especially useful for borders

See: https://reactnative.dev/docs/stylesheet#hairlinewidth

[2020-03-31 12:38] TVke commented on #26
Hi @enagorny

As it is a value constant I think you can maybe add it in your custom config.
I thing it could work (if it doesn't, it will be a simpel change).
If you suggest this as a default config setting, how would you call it? 🤔

greetings
Thomas

[2020-03-31 12:47] TVke commented on #25
Hi @alexluong

I wrote this styling system to easily style react native code in the way I was using tailwindcss in the browser. One of the first things I removed were the screen sizes as react native uses flex-box and is easily styled to match any screen without media queries of some sort.
I think it is a nice piece of code you wrote but for now I don't think I will include it.

greetings
Thomas

[2020-03-31 12:49] alexluong commented on #25
Thanks for the response. That makes sense. I'm trying to use `react-native-web`, so maybe my requirements are beyond the scope of your library. Thanks for explaining where you're coming from.

[2020-03-31 13:02] TVke commented on #18
Hi @davidgovea

I understand your problem with this change. I did this change as I think the options are a bit limited when you come in the higher values.

To this day I'm still doubting my decision and if you really would like it back to the old way, you can always submit a PR and I wil thoroughly review it and probably make the change.
That is when there is a page in the docs about the things yo

[2020-03-31 13:06] TVke commented on #21
Hi @larsjanssen6

I have no idea what the problem could be. have you tried a fresh install of react-native?

greetings
Thomas

[2020-03-31 13:11] TVke commented on #23
Hi @apostopher

Have you tested the outputted values in react-native?
If there is something wrong happening I would love a PR for that.
I know I struggled with the line height values so there is a possibility I did something wrong.

greetings
Thomas

[2020-04-01 12:33] #25 closed

[2020-04-02 10:29] apostopher commented on #23
Hello @TVke
Thanks for getting back.  First of all, thanks for this awesome lib! I'm using it in my projects and it works great!

I'm using `react-native 0.61`. The workaround I have in my code is a custom `Text` component. something like:

`<Text as="h1" leading="tight">Heading 1</Text>`

inside the text component, I'm calculating the `lineHeight` based on the `fontSize`.
`{lineHeight: fontSize *

[2020-04-09 18:37] mattkoch614 opened #28 "Tailwind 1.2?"
@TVke  - Does this work with Tailwind 1.2? I am running into a few things when I try this with a tailwind.config.js file generated using 1.2:

- I am trying to use the https://tailwindcss.com/docs/container/#app class but it doesn't look like this library is pulling that in.
- Unless I remove `maxWidth: {}` from the config file, my app errors out: (breakpoints is not a function):

![image](https:/

[2020-04-09 22:30] TVke commented on #28
Hi @mattkoch614

Breakpoints are not supported in ‘react-native-tailwindcss’ as discussed in #25.
I will release a 1.2 version of this package soon when I see the time but breakpoints are not my priority right now.

I would accept a PR for this.

Greetings
Thomas

[2020-04-10 12:18] mattkoch614 commented on #28
@TVke - OK, this makes sense. Thank you! For now I will remove this from the tailwind config.

[2020-04-10 12:18] #28 closed

[2020-04-13 14:37] imdanielpiva opened #29 "[Just Saying] This is so beautiful, really awesome!"
Just wanted to say: amazing work, thanks for this!

[2020-04-13 15:38] TVke commented on #29
Hey @imdanielpiva

Thank you very much 😃

greetings
Thomas

[2020-04-13 17:57] jassehomar opened #30 "cannot generate tailwind config file"
Hi everyone. I ran into an error of generating the tailwind.config file. Here is the command below and output:

[code]

[2020-04-16 04:07] thomas-j-back commented on #30
I just came here to post about the same issue. Attempting to run the` npx RNtailwindcss `returns
the same output for me.

[2020-04-16 04:22] thomas-j-back commented on #30
I was able to generate a tailwind.config file by running
`npx tailwind init`

If you check out the README.md included with the repository it includes different options for generating the config file with this command.

[2020-04-17 19:46] fredrivett commented on #30
For those looking for a simple solution, you can just copy one of the files from the `stubs` directory in this repo to `tailwind.config.js`: https://github.com/TVke/react-native-tailwindcss/tree/master/stubs

[2020-04-21 08:52] TVke commented on #23
Hi @apostopher

I have not needed to change `lineHeight` all that much, so I have only limited experience with it.
In `react-native-tailwincss` I just pass the lineHeight values to the lineHeight prop so you can change your config file and that should work (if it does not work, let me know which values you have set).
If you think the defaults settings need changing, I am all ears.

greetings
Thoma

[2020-04-22 00:08] inspire22 commented on #23
I noticed the same problem.  For some reason it is outputting "2px" instead of "2em" for leadingLoose - I realize "em" aren't supported by tailwind so maybe that's why.

[2020-05-08 00:01] jf-ouellette opened #33 "Overwrite fontWeight values in tailwind.config"
Hi!

I've been trying to overwrite the value for `fontSemibold` in my `tailwind.config`, but I am not able to make it work. I ended up comparing `fontSize.js` and `fontWeight.js` in the `node_modules` and I noticed that the first one uses `theme.fontSize` in the `generator.generate` function while the other uses an (hardcoded?) array.

Does that mean that we can't overwrite the values for `fontWei

[2020-05-13 08:16] TVke commented on #33
Hi @jf-ouellette

The font size is indeed adjustable and the `fontWeight` property is not this is because `react native` only allows these values.
https://react-native.org/doc/text-style-props.html#fontweight
As specified in the docs there are only these options possible and that is why it is not adjustable

greetings
Thomas

[2020-05-18 11:44] jf-ouellette commented on #33
Hi @TVke

That makes sense.

I wanted to adjust the values because when I use semiBold, it works well with iOS, but not with Android. My font has 'normal' weight instead of 'bold' weight, so I end up needing to overwrite the value like so : `semibold: Platform.OS === 'ios' ? '600' : 'bold'`.

I'll see if I can come up with another solution.

Thank you, Thomas!
Jean-François

[2020-05-18 11:52] TVke commented on #33
Hi @jf-ouellette

Maybe you can modify the font file itself? 🤔

Thank you for using `react-native-tailwindcss`.

greetings
Thomas

[2020-05-18 11:52] #33 closed

[2020-05-26 15:28] thomaschaaf commented on #26
You can simply add it by specifying the `tailwind.config.js` as follows:

[code]

Maybe however the default tailwind config could be extended.

[2020-05-26 15:33] TVke commented on #26
a good idea @thomaschaaf
I will add it to the defaults 😃
and thank you for bringing it up @enagorny

greetings
Thomas

[2020-06-04 19:03] jbrodriguez opened #34 "Aspect Ratio & Sizes"
First of all, nice library ! Very easy to use

I wonder what were your thoughts regarding having sizes depend on devices aspect ratio.

react-native-style-tachyons, let's you configure a rem property, which can be set based on screen size, etc (https://github.com/tachyons-css/react-native-style-tachyons#usage).

Additionally, you could expose standalone sizes, which would be aspect ratio based as

[2020-06-05 15:36] TVke commented on #34
Hey @jbrodriguez

I discarded the screen sizes as media queries are not the same in react native as online.
I personally use the `Dimensions.get('window')` to get the width and height of the device and apply styles accordingly.
For this moment it is not in the plans to implement something like this.
If you do think this is essential I would like to implement and not depend on tachyons as that is a

[2020-06-06 13:10] jbrodriguez commented on #34
hey @TVke , just to be on the same page, what I meant is having sizes responds to a seed value

for example

t.textBase = 16 * rem
t.textLg = 18 * rem

where rem could be specified in some initial configuration

rem = width/height * 0.75 (or whatever)

[2020-06-06 13:43] TVke commented on #34
Hi @jbrodriguez

I do understand you better now.
As this would add a lot of complexity to the package, I do’t think this would be a big advantage.
Now it works as tailwindcss users expect and that is still the main goal.

Thank you for the suggestion.

Greetings
Thomas

[2020-06-06 13:43] #34 closed

[2020-06-15 14:49] ReneMoraales commented on #21
@larsjanssen6 Did you figure it out?

[2020-06-15 15:11] TVke commented on #21
Hi @ReneMoraales

I didn't figure out what the problem was as I can not recreate it.
I have passing tests so if you have a failing test case for me or a project I can examine, I will try to debug this but for now I can not do more then this.

greetings
Thomas

[2020-06-17 10:58] larsjanssen6 commented on #21
@ReneMoraales I never found a solution :( Sorry.

[2020-06-17 12:14] TVke commented on #21
@ReneMoraales
can you send me a repo with your setup? so I can test it?

[2020-06-30 08:49] zendevil opened #37 "How to run react-native-tailwindcss with postcss?"
Sorry, I'm unable to use this library! In my web tailwind projects, I usually run the postcss command on a style file that contains:

[code]

set the output directory, and then set the generated file as the href of a style tag in my index.html. How to exactly use react-native-tailwind?

[2020-06-30 09:29] TVke commented on #37
Hi @zendevil

PostCSS is not needed and a styling file is also redundant.
You can just copy and paste your tailwind config file (or generate a new one) and the styles can be used in your code.
If you have any more questions, shoot 😊
The full installation setup you can find in the docs: https://tvke.github.io/react-native-tailwindcss/installation.html

Greetings
Thomas

[2020-06-30 15:20] #37 closed

[2020-07-18 22:46] thomaschaaf opened #39 "Getting values from PlatformColor in tailwind.config.js does not work"
I am trying to use the new PlatformColor in the tailwind.config.js. Sadly it does not seem to work.

[code]

[code]

[2020-07-19 13:39] ashinlaurel opened #40 "configHandles.js error"
![image](https://user-images.githubusercontent.com/44382446/87876087-47610d00-c9f3-11ea-8900-fd6923cb1569.png)
I am getting the following error -
Unable to resolve "../../../tailwind.config" from "node_modules/react-native-tailwindcss/util/configHandler.js"

Please do look into it

[2020-07-27 19:12] TVke commented on #40
Hi @ashinlaurel

with version of react-native-tailwind is this as there was a similar problem in an older version

greetings
Thomas

[2020-07-27 19:18] ashinlaurel commented on #40
This occurred in version 1.1.9
And i commented the following lines in configHandler.js and this error disappeared.
![image](https://user-images.githubusercontent.com/44382446/88582238-fe9cfa00-d06b-11ea-8b21-b02bdf3c16b8.png)

[2020-07-28 08:00] TVke commented on #40
Yes @ashinlaurel

This is true but do you have a config file?
Because when you comment out that line it will not load a custom config file
I suggest uncommenting that line and adding a config file (even an empty one is oké)
e.g.:

[code]

greetings
Thomas

[2020-07-28 08:15] #39 closed

[2020-07-28 08:42] TVke commented on #22
closing this issue as there is no activity for more then 3 months

[2020-07-28 08:42] #22 closed

[2020-07-28 08:45] TVke commented on #23
I think we found the problem in the last comment so closing this.
Feel free to reopen or create a new one if there is still a problem related to `react-native-tailwindcss`

[2020-07-28 08:45] #23 closed

[2020-07-29 09:57] ashinlaurel commented on #40
Yup that seemed to solve the problem. And it would be great if this file is created by default when this package is installed.

[2020-07-29 11:08] infothien opened #44 "tailwind config js doesnt work properly"
Hi there, first of all I would like to say it was a very useful and great lib support tailwind for react native. Thank you

I got a small issue and dont know why. I defined my tailwind.config.js like this
<img width="741" alt="tailwind_config_js_—_dentsu" src="https://user-images.githubusercontent.com/30365498/88792784-c5cd6400-d1d6-11ea-9e53-0ed1241092bd.png">

but it doesnt actually work as my e

[2020-07-30 18:24] TVke commented on #44
Hi @infothien

I understand the expected behaviour.
This is a very hard thing to do and that is why I choose to put only suggestions from the standard config file as possibilities.

Hope this explains it a bit

greetings
Thomas

[2020-08-04 03:02] infothien commented on #44
Thank you ! I got it then I will close this one for now maybe  @TVke

[2020-08-04 03:02] #44 closed

[2020-08-24 16:21] rareyman opened #45 "Documentation styling appears broken"
When visiting the documentation, the styling looks off. I am wondering if the link to the stylesheet has been severed or some changes have been made to the styling on the main Tailwind documentation site that is affecting this…?

Not super high priority as the documentation is still usable, but it would be nice to have the page look better. 😊

[2020-08-27 17:22] davidgovea commented on #18
I see that the expanded config file is no longer the default - thanks for that!

[2020-09-07 08:49] TVke commented on #45
Hi @rareyman

thank you very much for notifying me.
I will fix this immediately.

Greetings
Thomas

[2020-09-07 08:52] #45 closed

[2020-09-07 08:54] TVke commented on #40
hi @ashinlaurel

That's a good idea I have no idea how to do this but I would gladly accept a PR for this.

greetings
Thomas

[2020-09-07 08:56] #30 closed

[2020-09-07 08:56] #29 closed

[2020-09-08 18:07] davidgovea opened #48 "Line Height in RN is absolute-pixel values, not ratios"
Hi @TVke , hope you're well!

Discussed previously in #23 -- confirming that this is indeed an issue.

I noticed that using any lineHeight helper (e.g. `t.leadingLoose`) causes text to be "stacked" on each other.. almost in a single line. This is because the values of 1-2 are used as **pixel** values in react-native, not fontSize-ratios as in web.

I observed the behavior on both iOS and Android.

[2020-09-08 19:21] davidgovea opened #49 "Responsive styling"
The responsive styling experience of tailwindcss is great. Mobile-first, then `sm:`, `md:`, `lg:`, `xl:` prefixes for breakpoints.

When thinking about the function-helpers in for lineHeight in issue #48, I thought that maybe this could work for responsive helpers, too.

Imagine:

[code]

Internally, the helpers would look something like:

[code]

---

The question is -- would this **"screen-width

[2020-09-09 07:10] TVke commented on #49
Hi @davidgovea

Good filosofie and research, thank you for that. I presume you know still that I left it out simply as I myself did not have the need for responsiveness.
I understand the growing importance and I am totally open to add this feature.
I think for the philosophy and approach that we need to consider the following.
Users coming from 'tailwindcss' expect the width breakpoints and they a

[2020-09-09 07:28] TVke commented on #48
Hey @davidgovea

Great breakdown of the problem.
As I mentioned in the issue, I had a hard time understanding line height in react-native.
I like the method approach and would love to see that.
I think util would be a good extra functional section also great for the possible responsive methods.

Greetings
Thomas

[2020-09-16 21:19] rareyman commented on #45
Has this been updated…? The documentation still looks broken! 😨

[2020-09-17 06:23] TVke commented on #45
Hi @rareyman

I'm sorry you are correct I will implement a more permanent solution.

Greetings
Thomas

[2020-09-17 06:24] rareyman commented on #45
No worries at all. I appreciate all the hard work on this project. 🙂

[2020-09-17 08:21] TVke commented on #45
Hi @rareyman

oké I checked now everything should be oké again.
If you notice something again let me know.

Thank you so much.

greetings
Thomas

[2020-09-17 17:11] rareyman commented on #45
Looks great! Thanks again for this awesome library!

[2020-09-19 19:22] davidgovea commented on #48
Awesome, will whip something up

[2020-09-19 19:31] davidgovea commented on #49
Good call. I'll work on something here.

Will try to match tailwind's customization: default-minWidth, and the `min` / `max` specifiers (https://tailwindcss.com/docs/breakpoints)

One place that it could depart from base-tailwind is the "raw" media query customizations..
Perhaps adapting this:
[code]
to something like
[code]

[2020-10-14 05:41] markstreich opened #54 "Web: Invalid style property of "direction""
Hi, I'm getting the following warning in the web browser console with expo web:

[code]

I think it needs to be run in development mode, so you won't see the warning in the snack preview, but here's a minimal reproduction anyway:

https://snack.expo.io/@markstreich/react-native-tailwindcss:-invalid-style-property-of-%22direction%22.

[2020-10-14 07:01] markstreich opened #55 "maxW{Size} not working"
The maxW{Size} does not seem to work (typescript has typings for these, and the docs suggest `t.maxW{Size}` should work):

https://tvke.github.io/react-native-tailwindcss/sizing/max-width.html

[code]
[code]

The named units work though:
[code]
[code]

[2020-10-19 10:13] TVke commented on #55
Hi @markstreich

I think you ment to use `tw.maxW3xl` as there is no option `tw.maxW3` in the docs

greetings
Thomas

[2020-10-19 10:13] #55 closed

[2020-10-19 10:19] TVke commented on #54
Hi @markstreich

Thank you for noticing I think a simpel change cn fix this warning.
The property `direction` is indeed used in the overview and apparently has changed to `writingDirection`.
What is the react native version you are using?

greetings
Thomas

[2020-10-19 15:19] markstreich commented on #54
Hi Thomas,

I'm using Expo 39, which I [uses RN 0.63.2](https://docs.expo.io/versions/latest/)

[2020-10-19 15:25] markstreich commented on #55
@TVke Thanks, there are typescript entries for example for `tw.maxW3` though.

https://github.com/TVke/react-native-tailwindcss/blob/721c3699b1b421bf0e937012f5436a89d62f0004/index.d.ts#L3282

If nothing else, might be an inconsistency in the typescript types?

[2020-10-19 15:30] TVke commented on #55
Hi @markstreich

There are indeed inconsistencies in the typescript definition and theere are 2 PR's working to improve it.
For now I am going to leave it but if I have the time I will maken an intermediate PR to fix the typescript problems.

greetings
Thomas

[2020-10-19 15:33] TVke commented on #54
Hi @markstreich

I presume this `direction` property was changes in a release.
I would accept a PR to fix this.

greetings
Thomas

[2020-10-19 15:55] markstreich commented on #55
Thanks! For my needs it’s not urgent at all, I’m keeping an eye on the pending PRs.

[2020-11-14 21:09] skotchpine commented on #54
Here's a fix: https://github.com/TVke/react-native-tailwindcss/pull/57

[2020-12-01 10:14] EhsanSarshar opened #58 "Tailwindcss performance issue."
if we make styles like this

`<View style={[t.absolute, t.inset0, t.p4, t.bgBlue500]} />`

then on every re-render a new style object will be created and it will cause a real performance bottleneck

[2020-12-30 07:25] TVke commented on #58
Hi @EhsanSarshar

This is true, for now all the styling option are loaded when the import is used. But in my findings this was never a problem so maybe use a component or you can also look up the definition of the style and use them instead.
For now I have no idea if there is a better way to handle this and improve performance, but feel free to explain a more performant option.

Greetings
Thomas

[2021-01-16 21:05] smlarkin commented on #49
@TVke I just found your implementation of TW for RN is quite nice.

I was using [tailwind-rn](https://www.npmjs.com/package/tailwind-rn) because it was the most popular and the one I had read [blog posts](https://reactnativeclub.com/r/discussions/using-tailwindcss-with-expo-for-web-9309) about, but I like your API and Docs quite a bit more -- objects are better than strings for all kinds of reason

[2021-01-16 22:32] TVke commented on #49
Hi @smlarkin

Thank you for testing my implementation.
I will definitely check the implementation you suggested.
I do not have the time to focus full time on this package so I count on PR's for now.

Greetings
Thomas

[2021-01-17 02:37] smlarkin commented on #49
@TVke Thanks you for your prompt reply.

I've read through your open PRs, Tags, Issues and and wanted to know where you were at with this project. I have not contributed to open source and can only imagine the time commitment of being a maintainer can be difficult and perhaps not worth it.  There are plenty of stories of maintainers frustrated with the asks of others that cannot put in the time.

[2021-01-17 03:20] smlarkin commented on #58
@EhsanSarshar If you are concerned with perf, you can inline memo your styles:

https://github.com/andywer/use-inline-memo#style-props--other-objects

[2021-01-17 05:58] TVke commented on #49
Hi @smlarkin

I've spend a lot of time in the first version of this package which was a solid start. Then I had another wave of time to work out the docs and trying to solve the autocomplete problems (not a good solution and reversed it later).
The biggest problem right now is that I do not have any running react native projects anymore.
So I find it hard to work on this package when there is no r

[2021-01-17 05:58] #58 closed

[2021-01-18 06:07] EhsanSarshar commented on #58
Ok @TVke thanks a lot I will try to find a way for that maybe a babel plugin or something else.
and @smlarkin thanks a lot for the mentioned library. I will use that

[2021-01-27 14:21] IJustDev commented on #40
Would love to work on this! A friend of mine told me it's still up to date, I will submit a pr right away.

[2021-02-15 18:52] frkcn opened #59 "Tailwind 2.0 update"
Hi,

Is there any plan to update tailwind 2.0 soon.

Thanks.

[2021-03-17 20:21] TVke commented on #59
Hi @frkcn

For the near further there are not big plans for this.
If you would like to make the adjustments then I would love to review a PR.

Greetings
Thomas

[2021-05-08 17:29] dembeEdward commented on #21
Hi

I really love this module and I faced the same issue.

In my case rebuilding the project after updating the config file helped. Hope this will save someone some time. Also, this should be documented as default expectation, after running `npx tailwind init`, is that the styles will be applied immediately after updating the newly created file.

[2021-05-12 11:58] TVke commented on #21
This is a good idea

I would accept a PR for this

[2021-05-12 14:31] dembeEdward commented on #21
https://github.com/TVke/react-native-tailwindcss/pull/60

[2021-05-12 20:12] #21 closed

[2021-05-16 09:55] Laruxo commented on #48
This is quite an old issue, but I had encountered it today while migrating a small app to Tailwind.
For me the simplest (and most intuitive) solution was to add this line to my `tailwind.config.js`:
[code]

After doing this, I also encountered another problem - by default, not all of the spacings defined in [default config](https://github.com/TVke/react-native-tailwindcss/blob/master/stubs/default

[2021-06-02 14:51] teovillanueva commented on #54
Hello! This is still an issue. Will the PR be merged? If help is needed i can help

[2021-06-02 15:39] TVke commented on #54
Hi

The PR was closed by the creator so I don't think it was finished so if you create a new one I will happily merge the commit and publish a patch release.

[2021-06-02 15:40] TVke commented on #48
Hi

I think this can be done but this is a breaking change so maybe for now set it manually.

[2021-07-08 12:47] gcolotti opened #61 "Font Family not working"
I tried with `t.fontSans`, `t.fontSerif`, `t.fontMono`, they show the same font. Also tried to add a custom font, as described [here](https://tvke.github.io/react-native-tailwindcss/typography/font-family.html), but is not working.

Also, the fix used in #14 didn't work for me. The command `npx RNtailwindcss` is failing (`cp: cannot stat '../react-native-tailwindcss/stubs/defaultConfig.stub.js': N

[2021-07-18 00:05] Aris-ngoy opened #63 "npx RNtailwindcss error on 1.11.1"
**i am getting this error everytime i try to run npx RNtailwindcss**
cp: ../react-native-tailwindcss/stubs/defaultConfig.stub.js: No such file or directory

[2021-08-08 17:06] electroheadfx opened #64 "Feature with tailwind plugin"
is tailwindcss-classnames may work with tailwind plugin, for exemple with https://daisyui.com/docs/install ?

[2021-08-26 11:05] TVke commented on #64
Hi @electroheadfx

It is possible that this would work but this is not tested yet.
If you find out any problem let me know and we will see what can be done.

greetings
Thomas

[2021-08-26 11:10] TVke commented on #63
Hi @harriscreativity

Sorry to hear this.
A quick fix is to look for the file and copy it yourself or take the tailwindcss default config as it will be mostly the same.

greetings
Thomas

[2021-08-26 11:11] TVke commented on #61
Hi @gcolotti

I have no idea what could cause this problem 🤔
Can you maybe send me an example repo to better test the problem?

greetings
Thomas

[2021-12-09 13:54] johhansantana opened #65 "Is there a way to remove unused styles?"
I was wondering since the guide on the regular tailwindcss site explains how to do this but I'm not sure if this is possible with this library?

I'm asking because I use it for a regular react native project but am thinking of using it as well with `react-native-web` but since part of the performance on the web is the bundle size I was wondering if this would be an issue using this library or if t

[2021-12-26 10:20] TVke commented on #65
Hi

As the package uses the Stylesheet class of react, react is responsible for handling styles.
The class handles the style very well and only ones when the app starts. Filtering will not improve performance.
If for some reason you think a slimmer version would be better. You can duplicate the class in this repository and remove the unneeded styles.

Greetings
Thomas

[2021-12-26 13:27] #65 closed, assigned to nobody

[2022-01-21 21:03] #59 closed

[2022-05-25 14:01] ishields commented on #63
Getting this same error unfortunately.